body {
    margin:0;
    font-family:"Helvetica", "Arial", sans-serif;
    overflow: scroll;
    height:2127;
    box-shadow: 1px 1px 10px #000;
}

nav {
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:55px;
    background:#FFF;
    box-shadow:1px 1px 10px #000;
}


nav ul {
    list-style:none;
    margin:0;
    padding:0;
}
nav ul a {
    float:left;
    line-height:55px;
    margin-left:20px;
    font-size:14px;
    font-weight:bold;
    text-decoration:none;
    color:#9c9c9c;
}
nav ul a:hover {
    color:#000;
}
nav ul li:last-child a {
    float:right;
    margin-right:20px;
}

#logo {
    background:url(../imgs/logo.png);
    width:112px;
    height:29px;
    float:left;
    margin:13px 0 0 30px;
}

#Quote {

    background: #2b2b2b;
    margin-top: 55px;
    height: 304px;
    width: 100%;
}

h2 {
    font-family:"Century Gothic", "Arial", sans-serif;
    font-size: 48.54px;
    color: #FFF;
    margin-top: 42px;
    margin-left: 33px;
    margin-bottom: 40px;
}

p {
    font-family:"Century Gothic", "Arial", sans-serif;
    color:#FFF;
    margin-left: 167px;
    font-size:30px;
}

#Values {
    font-family:"Century Gothic", "Arial", sans-serif;
    font-size: 30px
    height: 862px;
    margin-top: 175px;
    width: 100%;
    column-count: 2;
}

.OurValues{
    color: #000;
}

.phValues{
    color: #434344;
    font-weight: bold;
}

.pbValues{
    color: #434344;
}

#ferrisstudents{    
    float:left;
    margin-top: 171px;
    margin-left: 40px;
}

.calendar{
        column-count: 2;
}

hr{
    color: #b2b2b2;
    margin-left: 19px;
    margin-right: 19px;
    margin-bottom: 55px;
    margin-top: 55px;
    line-height: 1px;
}

#Bylaws{
    text-decoration: none;
    color: #3e62c9;
    margin-left: 960px;
    font-size:30px;
}