#calendar {
    height: 800px;
    width: 100%;
    background-color: #2b2b2b;
    margin-top: 55px;
    text-align: center;
}

#calendar iframe {
    margin-top: 50px;
    margin-bottom: 50px;
}

#upcomingEvents {
    position: absolute;
    margin-left: 54px;
    margin-top: 45px;
    margin-right: 210px;
}

#upcomingEvents h1 {
    font-family: "CenturyGothic", sans-serif;
    margin: 0;
    font-weight: bold;
    font-size: 45px;
    white-space: nowrap;
    color: #000;
}

#upcomingEvents ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#upcomingEvents ul li {
    display: block;
    margin-top: 45px;
    margin-bottom: 45px;
    height:235px;
    overflow: hidden;
}

#upcomingEvents ul li figure {
    float: left;
    width: 200px;
    font-weight: lighter;
    text-align: center;
    margin:0;
}
#upcomingEvents ul li time {
    font-weight: lighter;
    text-align: center;
}

#upcomingEvents ul li h2 {
    margin: 0 0 25px 0;
}

#upcomingEvents ul li h2 a {
    font-weight:normal;
    margin-left: 50px;
    font-size: 30px;
    white-space: nowrap;
    overflow: hidden;
    color: #000;
    text-decoration: none;
}

#upcomingEvents ul li h2 a:hover {
    text-decoration: underline;
}


#upcomingEvents ul li p {
    font-weight: lighter;
    margin:0 0 0 250px;
    font-size: 15px;
    width: 1266px;
    line-height: 30px;
    color: #434344;
}

#upcomingEvents #eventPicture {
    background: url(../imgs/bulldog.jpg);
    width: 200px;
    height: 200px;
    margin: 0 0 16px 0;
    display:block;
}