/* not currently in use, may become in use again in the future with the implementation of a calendar */
#calendar {
    height: 800px;
    width: 100%;
    background-color: #2b2b2b;
    margin-top: 55px;
    text-align: center;
}

#upcomingEvents {
    padding: 80px 50px 30px 50px;
    background-color: #fff;
    box-shadow: 1px 1px 20px #000;
}

#upcomingEvents h1 {
    font-family: "CenturyGothic", sans-serif;
    margin: 0;
    font-weight: bold;
    font-size: 45px;
    white-space: nowrap;
    color: #000;
}

#upcomingEvents ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#upcomingEvents ul li {
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
    height:200px;
    overflow: hidden;
}

#upcomingEvents ul li figure {
    float: left;
    font-weight: lighter;
    text-align: center;
    margin:0;
}
#upcomingEvents ul li time {
    font-weight: lighter;
    font-size: 16px;
}

#upcomingEvents ul li h3 {
    font-weight: lighter;
    font-size: 16px;
    margin: 0 0 0 0;
}

#upcomingEvents ul li h3 a {
    color: #000;
    text-decoration: none;
}

#upcomingEvents ul li h3 a:hover {
    text-decoration: underline;
}

#upcomingEvents ul li h2 {
    margin: 0 0 5px 0;
}

#upcomingEvents ul li h2 a {
    font-weight:normal;
    font-size: 30px;
    white-space: nowrap;
    overflow: hidden;
    color: #000;
    text-decoration: none;
}

#upcomingEvents ul li h2 a:hover {
    text-decoration: underline;
}


#upcomingEvents ul li p {
    font-weight: lighter;
    margin:0 0 0 0;
    font-size: 15px;
    line-height: 30px;
    color: #434344;
}

#upcomingEvents #eventPicture {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 200px;
    height: 196px;
    margin: 0;
    display:block;
    border: 2px solid black;
}

#upcomingEvents ul li div {
    margin-left: 250px;  
}
