body {
    margin:0;
    font-family:"Helvetica", "Arial", sans-serif;
    background:#333;
}
nav.main {
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:55px;
    background:#FFF;
    box-shadow:1px 1px 10px #000;
    min-width:480px;
    z-index:9999;
}
nav ul {
    list-style:none;
    margin:0;
    padding:0;
}
aside .split ul {
    margin:0;
    padding:0;
    list-style:none;
    line-height: 20px;
}
nav ul a {
    float:left;
    line-height:55px;
    margin-left:20px;
    font-size:14px;
    font-weight:bold;
    text-decoration:none;
    color:#9c9c9c;
}
nav ul a:hover {
    color:#000;
}
nav ul li:last-child a {
    float:right;
    margin-right:20px;
}
#logo {
    background:url(../imgs/logo.png);
    width:112px;
    height:29px;
    float:left;
    margin:13px 0 0 30px;
}
.tray {
    padding:80px 0 30px;
}
.tray > h2, .tray > p{
    color: #FFF;
    margin:0 30px 15px;
    font-weight:normal;
}
.tray > h2 {
    font-size: 30px;
}
.tray > p {
    line-height:25px;
}

.feature img {
    max-width:100vw;
    height:auto;
    max-height:50vh;
    margin:0 auto;
    display:flex;
}
.avatar img {
    object-fit:cover;
    object-position:center;
    width:50px;
    height:50px;
}

.content {
    background:#FFF;
    box-shadow: 1px 1px 20px #000;
    padding:50px 50px 50px;
}
.content article, .content section {
    width:66%;
    float:left;
}
.content .hr {
    border-bottom:1px solid #CCC;
    margin:0 0 20px;
    padding:20px 0 0;
    clear:both;
    position:relative;
}
.content aside {
    width:33%;
    float:right;
    font-size:11px;
}
.content footer {
    clear:both;
    
}
footer.main {
    
}

.bubble {
    background:#d7d7d7;
    border:1px solid #AAA;
    border-radius: 6px;
    padding:10px 20px;
    position:relative;
    min-height: 50px;
}
.comment .bubble {
    margin:0 10px;
}
.comment .bubble {
    flex-grow:3;
}

.bubble .arrow {
    position:absolute;
}
.bubble.bottom {
    margin-bottom: 20px;
}
.bubble.top {
    margin-top: 20px;
}
.bubble .arrow.bottom-left {
    left:15px;
    bottom:-10px;
}
.bubble .arrow.top-right {
    right:15px;
    top:-10px;
}
.bubble .arrow.left-top {
    left:-10px;
    top:15px;
}

.bubble .arrow.top-left {
    left:15px;
    top:-10px;
}
.bubble .pointer {
    display:block;
    width:20px;
    height:20px;
    background:#d7d7d7;
    transform:rotate(45deg);
    border:1px solid #AAA;
}
.bubble .blocker {
    display:block;
    background:#d7d7d7;
    position:absolute;
    z-index:5;
}
.bubble .bottom-left .blocker {
    width:33px;
    height:17px;
    left:-7px;
    top:-5px;
}
.bubble .top-left .blocker {
    width:33px;
    height:17px;
    left:-7px;
    bottom:-5px;
}
.bubble .top-right .blocker {
    width:33px;
    height:17px;
    left:-7px;
    top:10px;
}
.bubble .left-top .blocker {
    width:17px;
    height:33px;
    left:10px;
    top:-5px;
}
.avatar {
    width:50px;
    height:50px;
    min-width:50px;
    background:#d7d7d7;
    border-radius:50%;
    float:left;
    margin:0 10px 0 1px;
    border:1px solid #AAA;
    overflow:hidden;
}
.creator h2 {
    font-size:20px;
    margin:0;
    padding:6px 0 0;
}
.creator h3 {
    font-size:14px;
    margin:0;
    font-weight:normal;
}
.hr h3 {
    font-size:12px;
    font-weight:normal;
    margin:0;
    text-align:center;
    position:absolute;
    top:13px;
    left:0;
    width:100%;
    color:#999;
}
.stats {
    font-size:10px;
    padding:0 10%;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:space-around;
}

.split > div {
    width:60%;
    float:left;
}
.split > div:first-child {
    text-align:right;
    width:30%;
    margin-right:10%;
    color:#575757;
    font-size:16px;
    padding:5px 0 0;
}
.content article h1 {
    margin:0 10px 20px;
}
a.button, .tag-picker label {
    float:left;
    margin:0 5px 5px 0;
    font-size:10px;
    letter-spacing:0.5px;
    background:#00aeef;
    padding:8px 10px;
    border-radius:4px;
    text-decoration:none;
    color:#FFF;
    text-shadow:1px 1px 2px rgba(0, 0, 0, .5);
}
a.button.license {
    background:#ef6500;
    position:relative;
}
a.license span.bubble {
    display:none;
    color:#000;
    text-shadow:none;
    position: absolute;
    top:42px;
    right:-6px;
    width:200px;
    padding:10px;
    z-index:500;
}
.hr h3 span {
    background:#FFF;
    padding:0 10px;
}
a.license:hover span.bubble {
    display:block;
}
span.p {
    display:block;
    padding:5px;
}
.license em {
    font-weight:bold;
}
a.button.tag, .tag-picker label {
    background:#CCC;
    text-shadow:none;
    color:#000;
}
.comment {
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:space-between;
    margin:0 0 20px
}
a.button.issue, .tag-picker label.issue {
    background:#F00;
    color:#FFF;
}
.tags {
    flex-grow:0;
}
.clear {
    clear:both;
}
nav.secondary {
    display:flex;
    justify-content:space-around;
    padding:20px 20px;
    margin:0 0 40px;
    border-top:1px solid #CCC;
    border-bottom:1px solid #CCC;
}
.flex {
    display:flex;
    justify-content:space-between;
}
.crop {
    width:100%;
    height:100%;
    object-fit:cover;
    object-position: center;
}
nav.secondary a {
    text-decoration:none;
    font-size:20px;
}
.tag-picker input[type="checkbox"] {
    width:1px;
    margin:0;
}
.tag-picker input[type="checkbox"] + label {
    cursor: pointer;
    user-select:none;
}
.tag-picker input[type="checkbox"]:not(:checked) + label {
    opacity: 0.5;
    background:#FFF;
    color:#000;
    border:1px solid #666;
}
.tag-picker input[type="checkbox"]:checked + label {
    border:1px solid #FFF;
}

.like-button {
    margin:0 5px 5px 0;
    font-size:10px;
    letter-spacing:0.5px;
    background:#00aeef;
    padding:8px 10px;
    border-radius:4px;
    text-decoration:none;
    color:#FFF;
    text-shadow:1px 1px 2px rgba(0, 0, 0, .5);
    transform: translateY(-25%);
    border: none;
}

#thumb{
    width: 10px;
    height: 10px;
    margin-left: 5px;
    background: url(../imgs/like.png);
    background-size: cover;
    float: right;
}

#heart{
    width: 10px;
    height: 10px;
    margin-left: 5px;
    background: url(../imgs/fave.png);
    background-size: cover;
    float:right;
}

.like-activate {
    background-position: -100%;
}
