body {
    margin:0;
    font-family:"Helvetica", "Arial", sans-serif;
    
}
nav {
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:55px;
    background:#FFF;
    box-shadow:1px 1px 10px #000;
}


nav ul {
    list-style:none;
    margin:0;
    padding:0;
}
nav ul a {
    float:left;
    line-height:55px;
    margin-left:20px;
    font-size:14px;
    font-weight:bold;
    text-decoration:none;
    color:#9c9c9c;
}
nav ul a:hover {
    color:#000;
}
nav ul li:last-child a {
    float:right;
    margin-right:20px;
}

#logo {
    background:url(../imgs/logo.png);
    width:112px;
    height:29px;
    float:left;
    margin:13px 0 0 30px;
}



#background {
     position:absolute;   
    width:9000px;
    height: 250px;   
    background-color: black;
}

#background2 {
     position:absolute;   
    width:9000px;
    height: 442px;   
    background-color: black;
}

#picture {
    color: #fff;
    position: absolute;
    top: 467px;
    left: 600px;    
    font-weight:bold;
    text-decoration:none;
    color:black;
}

#username {
    color: #fff;
    position: absolute;
    top: 634px;
    left: 600px;    
    font-weight:bold;
    text-decoration:none;
    color:black;

}

#title {
    color: #fff;
    position: absolute;
    top: 801px;
    left: 600px;    
    font-weight:bold;
    text-decoration:none;
    color:black;

}

#about {
    color: #fff;
    position: absolute;
    top: 968px;
    left: 600px;    
    font-weight:bold;
    text-decoration:none;
    color:black;

}

#resume {
       color: #fff;
     position: absolute;
    top: 1565px;
    left: 600px;    
    font-weight:bold;
    text-decoration:none;
    color:black;

}

#uploadproject {
       color: #fff;
     position: absolute;
    top: 1732px;
    left: 600px;    
    font-weight:bold;
    text-decoration:none;
    color:black;

}
