body {
    margin:0;
    font-family:"Helvetica", "Arial", sans-serif;
    background:#333;
}
#bug-issues {
    position:fixed;
    top:90px;
    right:-90px;
    width:300px;
    height:50px;
    background:#FF0;
    z-index:9998;
    transform:rotate(45deg);
    line-height:50px;
    text-align:center;
    box-shadow:0px 1px 5px #000;
    font-weight:bold;
}

nav.main {
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:55px;
    background:#FFF;
    box-shadow:1px 1px 10px #000;
    min-width:480px;
    z-index:9999;
}
nav.main ul {
    list-style:none;
    margin:0;
    padding:0;
    display:flex;
}
nav.main li.spacer {
    flex-grow:1;
}
nav.main ul a {
    line-height:55px;
    margin-left:20px;
    font-size:14px;
    font-weight:bold;
    text-decoration:none;
    color:#9c9c9c;
}
nav.main ul li:last-child{
	padding-right: 30px;
}
aside .split {
    clear:both;
    padding:15px 0;
}
aside .split ul {
    margin:0;
    padding:0;
    list-style:none;
    line-height: 20px;
}
aside .hr {
    width:80%;
}
nav.main ul a:hover,
body.about nav.main a.about,
body.talk nav.main a.talk,
body.projects nav.main a.projects,
body.project nav.main a.projects,
body.events nav.main a.events,
body.event nav.main a.event,
body.home nav.main a.profile,
body.signup nav.main a.login,
body.login nav.main a.login
{
    color:#000;
}

#logo {
    background:url(../imgs/logo.png);
    width:112px;
    height:29px;
    float:left;
    margin:13px 0 0 30px;
}
.tray {
    padding:80px 0 30px;
}
.tray > h2, .tray > p{
    color: #FFF;
    margin:0 30px 15px;
    font-weight:normal;
}
.tray > h2 {
    font-size: 30px;
}
.tray > p {
    line-height:25px;
}

.feature img {
    max-width:100vw;
    height:auto;
    max-height:50vh;
    margin:0 auto;
    display:flex;
}
.avatar img {
    object-fit:cover;
    object-position:center;
    width:50px;
    height:50px;
}

.content {
    background:#FFF;
    box-shadow: 1px 1px 20px #000;
    padding:50px 50px 50px;
}
.content article {
    width:66%;
    float:left;
}
.content > section {
    clear:both;
}

.content .hr {
    border-bottom:1px solid #CCC;
    margin:0 auto 20px;
    padding:20px 0 0;
    clear:both;
    position:relative;
}
.content .hr.text {
    margin:0 auto 40px;
    padding:40px 0 0;
}
.content aside {
    width:33%;
    float:right;
    font-size:11px;
}
.content footer {
    clear:both;
}
footer.main {
    width:100%;
    height:55px;
    background:#FFF;
    box-shadow:1px 1px 10px #000;
    min-width:480px;
    z-index:9999;
}
.bubble {
    background:#d7d7d7;
    border:1px solid #AAA;
    border-radius:6px;
    padding:10px;
    position:relative;
    min-height: 50px;
}
article .bubble {
    padding:20px;
    min-height:200px;
}
.bubble .infront {
    z-index:6;
    position:relative;
}
.comment .bubble {
    margin:0 10px;
    padding:10px 10px 10px 15px;
    flex-grow:3;
}
.comment .tags {
    float:right;
}
.comment h1 {
    font-weight:bold;
    font-size:12px;
    margin:0 0 3px;
}
.comment h1 span {
    font-weight:normal;
    font-size:9px;
    padding-left:10px;
    font-style:italic;
}
.comment time {
    font-size:9px;
    opacity:.5;
}
.comment p, .comment h1 {
    float:left;
}
.comment p {
    clear:left;
}
.comment time {
    clear:both;
    float:right;
}
.bubble .arrow {
    position:absolute;
}
.bubble.bottom {
    margin-bottom: 20px;
}
.bubble.top {
    margin-top: 20px;
}
.bubble .arrow.bottom-left {
    left:15px;
    bottom:-10px;
}
.bubble .arrow.top-right {
    right:15px;
    top:-10px;
}
.bubble .arrow.left-top {
    left:-10px;
    top:15px;
}

.bubble .arrow.top-left {
    left:15px;
    top:-10px;
}
.bubble .pointer {
    display:block;
    width:20px;
    height:20px;
    background:#d7d7d7;
    transform:rotate(45deg);
    border:1px solid #AAA;
}
.bubble .blocker {
    display:block;
    background:#d7d7d7;
    position:absolute;
    z-index:5;
}
.bubble .bottom-left .blocker {
    width:33px;
    height:17px;
    left:-7px;
    top:-5px;
}
.bubble .top-left .blocker {
    width:33px;
    height:17px;
    left:-7px;
    bottom:-5px;
}
.bubble .top-right .blocker {
    width:33px;
    height:17px;
    left:-7px;
    top:10px;
}
.bubble .left-top .blocker {
    width:17px;
    height:33px;
    left:10px;
    top:-5px;
}
.avatar {
    width:50px;
    height:50px;
    min-width:50px;
    background:#d7d7d7;
    border-radius:50%;
    float:left;
    margin:0 10px 0 1px;
    border:1px solid #AAA;
    overflow:hidden;
}
.creator h2 {
    font-size:20px;
    margin:0;
    padding:6px 0 0;
}
.creator h3 {
    font-size:14px;
    margin:0;
    font-weight:normal;
}
.hr h3 {
    font-size:12px;
    font-weight:normal;
    margin:0;
    text-align:center;
    position:absolute;
    top:33px;
    left:0;
    width:100%;
    color:#999;
}
.stats {
    font-size:10px;
    padding:0 10%;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:space-around;
}

.split > div {
    width:60%;
    float:left;
}
.split > div:first-child {
    text-align:right;
    width:30%;
    margin-right:10%;
    color:#575757;
    font-size:16px;
    padding:5px 0 0;
}
.content article h1 {
    margin:0 10px 20px;
}
a.button, .tag-picker label {
    float:left;
    margin:0 5px 5px 0;
    font-size:10px;
    letter-spacing:0.5px;
    background:#00aeef;
    padding:8px 10px;
    border-radius:4px;
    text-decoration:none;
    color:#FFF;
    text-shadow:1px 1px 2px rgba(0, 0, 0, .5);
}
a.button.license {
    background:#ef6500;
    position:relative;
}
a.license span.bubble {
    display:none;
    color:#000;
    text-shadow:none;
    position: absolute;
    top:42px;
    right:-6px;
    width:200px;
    padding:10px;
    z-index:500;
}
.hr h3 span {
    background:#FFF;
    padding:0 10px;
}
a.license:hover span.bubble {
    display:block;
}
span.p {
    display:block;
    padding:5px;
}
.license em {
    font-weight:bold;
}
a.button.tag, .tag-picker label {
    background:#CCC;
    text-shadow:none;
    color:#000;
}
.comment a.button.tag {
    background:#FFF;
    float:right;
    margin:0 0 0 5px;
}
.comment {
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:space-between;
    margin:20px 0;
}
a.button.issue, .tag-picker label.issue {
    background:#F00;
    color:#FFF;
}
.tags {
    flex-grow:0;
}
.clear {
    clear:both;
}
nav.secondary {
    display:flex;
    justify-content:space-around;
    padding:20px 20px;
    margin:0 0 40px;
    border-top:1px solid #CCC;
    border-bottom:1px solid #CCC;
}
.flex {
    display:flex;
    justify-content:space-between;
}
.crop {
    width:100%;
    height:100%;
    object-fit:cover;
    object-position: center;
}
nav.secondary a {
    text-decoration:none;
    font-size:20px;
}
.tag-picker input[type="checkbox"] {
    width:1px;
    margin:0;
}
.tag-picker input[type="checkbox"] + label {
    cursor: pointer;
    user-select:none;
}
.tag-picker input[type="checkbox"]:not(:checked) + label {
    opacity: 0.5;
    background:#FFF;
    color:#000;
    border:1px solid #666;
}
.tag-picker input[type="checkbox"]:checked + label {
    border:1px solid #FFF;
}
footer.footer ul{
    list-style:none;
    padding:20px;
    margin:0;
    display:flex;
}
footer.footer ul li.spacer {
    flex-grow:1;
}
footer.footer ul li {
    padding:0 10px;
    min-width:16px;
    text-align:center;
    position:relative; /* this allows <a> positioning */
}
footer.footer {
    padding:50px 20px;
    font-size:70%;
}
footer.footer a{
    color:#666;
    text-decoration:none;
    transition:color .2s;
}

footer.footer a#feedback{
    color: #FF0;   
    
}
footer.footer a#feedback:hover{
    color:aqua;
    text-decoration:underline;
}

footer.footer a:hover,
body.about footer.footer a.about,
body.talk footer.footer a.talk,
body.projects footer.footer a.projects,
body.events footer.footer a.events,
body.home footer.footer a.profile,
body.login footer.footer a.login,
body.signup footer.footer a.signup{
    color:#fff;
    text-decoration:underline;
}
.formHR{
    margin: 0px;
    border-bottom:1px solid #444;
    padding:0;
    clear:both;
}
.hr {
    border-bottom:1px solid #444;
    margin:0px 20px;
    padding:0;
    clear:both;
}
#form{
    margin: 0;
}
.copyright p {
    margin:0 10px;
}
.copyright {
    margin:20px;
}
a.discord, a.facebook, a.youtube, a.steam {
    display:inline-block;
    background:url(../imgs/discord.ico);
    width:16px;
    height:16px;
    position:absolute;
    left:0;
    bottom:0;
}
a.discord { background:url(../imgs/icon-discord.png); }
a.facebook { background:url(../imgs/icon-facebook.png); }
a.youtube { background:url(../imgs/icon-youtube.png); }
a.steam { background:url(../imgs/icon-steam.png); }
a .hide {
    display:none;
}
button{
    cursor: pointer;
}
.like-button {
    margin:0 5px 5px 0;
    font-size:10px;
    letter-spacing:0.5px;
    background:#00aeef;
    padding:8px 10px;
    border-radius:4px;
    text-decoration:none;
    color:#FFF;
    text-shadow:1px 1px 2px rgba(0, 0, 0, .5);
    transform: translateY(-25%);
    border: none;
}

#thumb{
    width: 10px;
    height: 10px;
    margin-left: 5px;
    background: url(../imgs/like.png);
    background-size: cover;
    float: right;
}

#heart{
    width: 10px;
    height: 10px;
    margin-left: 5px;
    background: url(../imgs/fave.png);
    background-size: cover;
    float:right;
}

#heart.like-activate, #thumb.like-activate {
    background-position: -100%;
}
