body {
    background:#fff;
}
#signup {
    display:flex;
    margin: 70px auto 0 auto;
    width:600px;
    background:#2b2b2b;
    border-radius:4px;
}
#signup section {
    color:#fff;
    position:relative;
    width: 50%;
}
#signup h1 {
    margin:auto;
    font-size:18px;
    font-weight:normal;
    text-align:left;
}
#signup img{
    position: relative;
    padding-top: 45px;
}
#signup h2 {
    margin:15px 0 18px 0;
    font-size:15px;
    text-align:left;
    font-weight:normal;
    color:#aaa;
}
#signup input {
    height:25px;
    width:200px;
}
#signup a {
    color:#46b7ff;
    font-size:14px;
}
#signup .left .linkText:hover{
    color:#2e79a8;
}
#confirm-signup button{
   position: relative;
    top: 10px;
    background-color:#53c025;
    color:#fff;
    
    height:40px;
    
    width:60px;
    font-size:12px;
    border-radius:5px;
    border:0px;
}
#confirm-signup:hover button {
   position: relative;
    top: 10px;
    background-color:#168342;
    color:#fff;
    
    height:40px;
    
    width:60px;
    font-size:12px;
    border-radius:5px;
    border:0px;
}


#signup .left {
    padding:25px 30px;
}
#signup .right {
    padding:25px 30px ;
}
#signup .centerLine {
    height:80%;
    width:1px;
    background:rgba(255, 255, 255, .5);
    border-radius:10px;
    position: absolute;
    left:0;
    top:10%;
}