body {
    background:#fff;
}
#signup {
    display:flex;
    top: 500px;
    margin: 150px auto 10px auto;
    width:900px;
   
    background:#2b2b2b;
    border-radius:10px;
}


#signup section {
    color:#fff;
    position:relative;
    width: 100%;
    
}
#signup h1 {
    padding-top: 15px;
    margin: 25px;
    font-size:18px;
    font-weight:normal;
    text-align:center;
}

#signup h2 {
    margin:15px 0 25px 0;
    font-size:15px;
    text-align:center;
    font-weight:normal;
    color:#aaa;
}
#signup input {
    position: relative;
    top: -20px;
    height:25px;
    width:200px;
    left: 350px;
    align-content: center;
}
#signup a {
    color:#46b7ff;
    font-size:14px;
}

#signup .left .linkText:hover{
    color:#2e79a8;
}
#confirm-signup button{
   position: relative;
    
    background-color:#53c025;
    color:#fff;
    height:40px;
    width:50px;
    left:  589px;
    font-size:12px;
    border-radius:5px;
    border:0px;
}
#confirm-signup button:hover {
   
    
    background-color:#168342;
    color:#fff;
    
   
    font-size:12px;
    border-radius:5px;
    border:0px;
}

#signup .left .haveText{
    
    position: relative;
    bottom: 30px;
    left: 330px;
}


