
#signup {
    display:flex;
    top: 500px;
    margin-top: 55px;
    width: auto;   
    background:#2b2b2b;
}


#signup section {
    color:#fff;
    position:relative;
    width: 100%;   
    
}

#signup .form{
    color:#fff;
    position:relative;
    width: 100%;    
    text-align: center;
}

#signup h1 {
    font-size:18px;
    font-weight:normal;
    text-align:center;
    
}

#signup h2 {
    margin:0 0 25px 0;
    font-size:15px;
    font-weight:normal;
    color:#aaa;
    text-align: left;
}
#signup input {
    position: relative;
    top: -20px;    
    height: 25px;
    width: 200px;    
}
#signup a {
    color:#46b7ff;
    font-size:14px;
}
#divider {
    display:flex;    
    width: 100%;
    
}
#signup .left{
    padding:0 25px 0 0; 
    width: 204px;
    margin-left: auto;
    float: left;
    
}
#signup .right{
    padding:0 0 0 25px;
    width: 204px;    
    margin-right: auto;
}
#signup .centerLine{
    height:80%;
    width:1px;
    background:rgba(255, 255, 255, .5);
    border-radius:10px;
    position: absolute;
    left:0;
    top:10%;
}
#signup .left .linkText:hover{
    color:#2e79a8;
}

#confirm-signup button{
   position: relative;
    background-color:#53c025;
    color:#fff;
    height:40px;
    width:100px;    
    font-size:12px;
    border-radius:5px;
    border:0px;
}
#confirm-signup button:hover {
   
    
    background-color:#168342;
    color:#fff;
   
    font-size:12px;
    border-radius:5px;
    border:0px;
}

#signup .left .haveText{
        position: relative;
}



.errorMessage {
    color:#ff3838;
}
