.signup .tray {
    background:#2b2b2b;
    border-bottom:1px solid #444;
}
#signup {
    width:550px;
    margin:0 auto;
}
#signup h2 {
    margin:25px 0 0;
}
#signup p {
    color:#555;
    margin:5px 0 15px;
}
#signup label {
    margin:0 0 5px;
    font-size:15px;
    font-weight:normal;
    color:#aaa;
    text-align: left;
    display:block;
}
.fields {
    display:flex;
    justify-content:space-between;
    margin:20px 0 40px;
}
#signup input:not([type='submit']) {  
    height:25px;
    width:260px;
}
.tray a {
    color:#46b7ff;
}
#signup input[type="submit"]{
    padding:12px 15px;
    background:#53c025;
    color:#fff;
    font-size:12px;
    border-radius:5px;
    border:0px;
    cursor:pointer;
}
#signup input[type="submit"]:hover {
    background:#168342;
}
#signup p.errorMessage {
    color:#FFF;
    font-weight:bold;
    background:#ff3838;
    text-align:center;
    padding:20px;
    border-radius:5px;
}