#signup {
    width:550px;
    margin:0 auto;
}
#signup .bubble {
    padding:10px 20px;
}
#signup h2 {
    margin:20px 0 10px;
    padding:0 0 5px;
    border-bottom:1px solid #555;
}
#signup p {
    color:#999;
    margin:5px 0 15px;
}
#signup label {
    margin:0 0 2px;
    font-size:12px;
    font-weight:normal;
    color:#aaa;
    text-align: left;
    display:block;
}
.fields {
    display:flex;
    justify-content:space-between;
}
.fields div:first-child{
    padding-right:40px;
}
#signup input:not([type='submit']) {  
    height:25px;
    width:150px;
    margin:0 0 10px;
}
.tray a {
    color:#46b7ff;
}
#signup p em {
    color:#FFF;
    font-style:normal;
    font-weight:bold;
    font-size:20px;
}
#signup input[type="submit"]{
    padding:12px 15px;
    background:#53c025;
    color:#fff;
    font-size:12px;
    border-radius:5px;
    border:0px;
    cursor:pointer;
}
#signup input[type="submit"]:hover {
    background:#168342;
}
#signup p.errorMessage {
    color:#FFF;
    font-weight:bold;
    background:#ff3838;
    text-align:center;
    padding:20px;
    border-radius:5px;
}