.content{
    display:flex;
}
.discordEmbed{
    float:left;
}
.group1{
    float:left;
}
.groupIcon{
    height: 144px;
    width: 350px;    
    margin: 0 0 20px 25px;
}

#dagd-facebook {
    background:url(../imgs/wide-bttn-dagd-facebook.png);
    height:144px;
    width:350px;
    border: 1px solid #4267b2;
    border-radius:5px;
    background-repeat:no-repeat;
}
#mega-facebook{
    background:url(../imgs/wide-bttn-mega-facebook.png);
    height:144px;
    width:350px;
    border: 1px solid #4267b2;
    border-radius:5px;
    background-repeat:no-repeat;
}

#dagd-steam{
    background:url(../imgs/wide-bttn-steam.png);
    height:144px;
    width:350px;
    border: 1px solid black;
    border-radius:5px;
    background-repeat:no-repeat;
}